<ng-include src='"templates/navbar_main.html"'></ng-include>

<div class="wrapper">
    <div class="container">
        <div class="row pl-4 pt-4">
            <div class="col-md-12">
                <h2 class="text-lg-center text-sm-left">FAQ and Blogs</h2>
            </div>
        </div>
    </div>
</div>

<div class="wrapper grey-background grey-border">
    <div class="container">
        <div class="row pl-4 pt-4">

            <div class="col-md-12">
                <h2 class="pt-4">Help and Support</h2>
				<form class="needs-validation pt-4 pb-2" novalidate="">
				    <div class="row">
				        <div class="col-12 mb-3">
				            <input type="text" class="form-control custom-form-input" id="faq" placeholder="Enter your question here." value="" required="true" ng-model="faqText">
				        </div>
				    </div>
				</form>
            </div>

            <div class="col-md-6">
	            <h4 class="pt-4 pb-2 ">What are the process of getting onboard?</h4>
	            <p class="pr-4">Insurance Products from all companies under one roof, hence sell the right product to the customer based on his requirement. Product recommendation tool helps to improve average ticket size of the sale.</p>
	            <h4 class="pt-4 pb-2">What are the process of getting onboard?</h4>
	            <p class="pr-4">Insurance Products from all companies under one roof, hence sell the right product to the customer based on his requirement. Product recommendation tool helps to improve average ticket size of the sale.</p>
	            <h4 class="pt-4 pb-2">What are the process of getting onboard?</h4>
	            <p class="pr-4">Insurance Products from all companies under one roof, hence sell the right product to the customer based on his requirement. Product recommendation tool helps to improve average ticket size of the sale.</p>
            </div>
            <div class="col-md-6">
	            <h4 class="pt-4 pb-2 ">What are the process of getting onboard?</h4>
	            <p class="pr-4">Insurance Products from all companies under one roof, hence sell the right product to the customer based on his requirement. Product recommendation tool helps to improve average ticket size of the sale.</p>
	            <h4 class="pt-4 pb-2">What are the process of getting onboard?</h4>
	            <p class="pr-4">Insurance Products from all companies under one roof, hence sell the right product to the customer based on his requirement. Product recommendation tool helps to improve average ticket size of the sale.</p>
	            <h4 class="pt-4 pb-2">What are the process of getting onboard?</h4>
	            <p class="pr-4">Insurance Products from all companies under one roof, hence sell the right product to the customer based on his requirement. Product recommendation tool helps to improve average ticket size of the sale.</p>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="container">
        <div class="row pl-4 pr-4">
            <div class="col-md-12">
                <h2 class="text-lg-center text-sm-left pt-4 pb-4">Recent Blog Posts</h2>
            </div>
            <div class="col-md-4">
                <h4 class="pt-4 pb-4">Why use our platform</h4>
                <p>ILO research has revealed many of the opportunities and barriers faced by farmers and small businesses in the quinoa value chain. This two-part blog explores the issues faced within the value chain and the role of financial services in helping farmers take advantage of opportunities in quinoa production.</p>
            </div>
            <div class="col-md-4">
                <h4 class="pt-4 pb-4">Why use our platform</h4>
                <p>ILO research has revealed many of the opportunities and barriers faced by farmers and small businesses in the quinoa value chain. This two-part blog explores the issues faced within the value chain and the role of financial services in helping farmers take advantage of opportunities in quinoa production.</p>
            </div>
            <div class="col-md-4">
                <h4 class="pt-4 pb-4">Why use our platform</h4>
                <p>ILO research has revealed many of the opportunities and barriers faced by farmers and small businesses in the quinoa value chain. This two-part blog explores the issues faced within the value chain and the role of financial services in helping farmers take advantage of opportunities in quinoa production.</p>
            </div>
        </div>
    </div>
</div>