<section id="footer">
    <div class="container">
        <div class="row text-xs-center text-sm-left text-md-left">

            <div class="col-xs-12 col-sm-12 col-md-6">
                <h2 class="navbar-brand text-white" style="font-family: Montserrat Alternates;">OneCover</h2>
                <p class="text-white">
                    We’re making Insurance simpler, smarter <br>& more human
                </p>
                <p class="pt-4 small">Build with love in Bangalore, &nbsp India</p>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-2">
                <h5 class="footer-heading pb-4">Features</h5>
                <ul class="list-unstyled quick-links">
                    <li class="footer-li"><a href="javascript:void();" class="footer-small">AI for Advisor</a></li>
                    <li class="footer-li"><a href="javascript:void();" class="footer-small">PolicyWallet</a></li>
                    <li class="footer-li"><a href="javascript:void();" class="footer-small">One-stop Claims</a></li>
                    <li class="footer-li"><a href="javascript:void();" class="footer-small">Follow us on- LinkedIn</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2">
                <h5 class="footer-heading pb-4">Resources</h5>
                <ul class="list-unstyled quick-links">
                    <li class="footer-li"><a href="javascript:void();" class="footer-small">Blog</a></li>
                    <li class="footer-li"><a href="javascript:void();" class="footer-small">FAQs</a></li>
                </ul>
            </div>
            <!-- <div class="col-xs-12 col-sm-12 col-md-2"> -->
                <!-- <h5 class="footer-heading">Company</h5> -->
<!--                 <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();" class="footer-small">Home</a></li>
                    <li><a href="javascript:void();" class="footer-small">About</a></li>
                    <li><a href="javascript:void();" class="footer-small">FAQ</a></li>
                    <li><a href="javascript:void();" class="footer-small">Get Started</a></li>
                    <li><a href="javascript:void();" class="footer-small">Videos</a></li>
                </ul> -->
            <!-- </div> -->
        </div>
    </div>
</section>