

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 sky-background pb-4 pl-4 pr-4">
            <div class="mt-2 text-center">
                <h1 class="text-center text-white">Hello, <br> Goplannr is launching soon.</h1><br>
                <p class="text-center text-white pl-4 pr-4">Leverage our intelligent data driven<br> platform to be a better insurance advisor.</p>
                <br>
                <a href="/insurer" class="transparent-button">For Insurer</a> &nbsp &nbsp
                <a href="/about-us" class="transparent-button">About us</a>
            </div> 
        </div>
        <div class="col-md-6 pb-4 pl-4 pr-4 right-details">
            <h2 class="pt-4 pb-4 pr-4 pl-4">Why GoPlannr</h2>
            <h4 class="pt-4 pr-4 pl-4">Book an Expert Advisor</h4>
            <p class="pr-4 pl-4 right-details-text">Find & call an expert advisor in your area. The advisor comes to your doorstep at your convenience.</p>
            <h4 class="pt-4 pr-4 pl-4">Buy Customized Plans</h4>
            <p class="pr-4 pl-4 right-details-text">Buy the perfect plan recommended for your needs with answers to your questions. Buy instantly on his app.</p>
            <h4 class="pt-4 pr-4 pl-4">Get Support during Claims</h4>
            <p class="pr-4 pl-4 right-details-text">Local Advisor provides on-ground support. While we take care of the process so you don’t have to worry.</p>
        </div>
    </div>
</div>