<div class="wrapper">

	<div class="container-fluid">
	    <div class="row">
	        <div class="col-md-3"></div>
	        <div class="col-md-6">
	            <h2 class="text-center">HOW IT WORKS</h2>
	            <br><br>
	             <h4 class="pb-4 pt-4 text-center">Onboarding</h4>
	             <ul>
	                 <li>Recruitment of agents via app along with all on boarding inputs</li>
	                 <li>Deliver targeted training through the app in the form of bite-size digital content & notifications</li>
	                 <li>Training playlists that advisor can access on-the-go on his phone</li>
	                 <li>Advisor Profile & early behavior helps predict advisor activation, productivity & churn through our proprietary machine learning models</li>
	             </ul>
	             <h4 class="pb-4 pt-4 text-center">Sales Productivity Enabler</h4>
	             <ul>
	                 <li>Engage advisor with daily "top 5 things to do" that are personalized based on his needs & behavior to "nudge" him right.</li>
	                 <li>Enable marketing through content which is sharable on whatsapp</li>
	                 <li>Automate lead tracking, meetings, clients to store progress</li>
	                 <li>Earnings analytics to nudge the partner based on expected sales trends</li>
	                 <li>Enable partner managers to have a top-down view of advisors across different segments</li>
	                 <li>Machine learning models for lead prioritization & renewal targeting</li>
	             </ul>
	             <h4 class="pb-4 pt-4 text-center">Need Analysis & Pitching tools</h4>
	             <ul>
	                 <li>Based on customer segments, our sales journey recommends the right plan, cover and top 5 reasons for buying the plan that are relevant for the customer along with savings calculations</li>
	                 <li>This new sales journey has been shown to improve conversions, ticket sizes and activation rates to help almost double the productivity</li>
	                 <li>Interactive Question & Answer based sales journey instead of the standard sales push</li>
	                 <li>Machine learning model keeps updating "product recommendation" based on actual customer buying behavior</li>
	             </ul>
	             <h4 class="pb-4 pt-4 text-center">One-tap access to help during claims</h4>
	             <ul>
	                 <li>Quick answer to common questions on a tap</li>
	                 <li>Instant access to Whatsapp forums to answer advanced questions</li>
	                 <li>Trainings playlists, downloadables (brochures, claim forms, T&C)</li>
	                 <li>Explanation of what part of the claim will not be covered and why</li>
	             </ul>
	             <p class="text-center"><a href="/" class="text-center">Home</a></p>
	        </div>
	        <div class="col-md-3"></div>
	    </div>
	</div>

</div
