<ng-include src='"templates/navbar_main.html"'></ng-include>

 <script>
	$( function() {

        var url = 'http://localhost:8000/v1/pincode/search';

		$("#zip").autocomplete({

			source: function(request, response) {
            	var search_url = url + '?text=' + request.term; 

		    	$.ajax({
		        	type: "GET",
		        	url: search_url,
		        	success: function(data) {
                    	response(data);
		        	}
		    	});

		  	},

			select: function( event, ui ) {
                localStorage.setItem('location', ui.item.value);
			    angular.element(document.getElementById("advisor")).scope().searchAdvisor();
			},

		});

	});

 </script>

<div class="wrapper search-cover grey-border" id="advisor">
    <div class="container">
        <div class="row">
            <div class="col"></div>
	        <div class="col-md-8 mt-1" id="result">
	            <h2 class="text-white pt-4 pb-2">Find Insurance Agents Near You</h2>
	            <div class="row">
	                <div class="col-lg-6 mb-3 text-sm-center">
	                    <!-- <label for="zip" class="text-white">Search Location</label> -->
	                    <input type="text" class="form-control custom-form-input input-large" id="zip" placeholder="Select Location & City" required="" ng-model="pincode">
	                </div>
	                <div class="col-lg-6 mb-3 text-sm-center">
	                    <!-- <label for="Category" class="text-white">Category</label> -->
	                    <select class="custom-select d-block w-100 custom-form-input input-large" id="Category" required="" ng-model="categories" ng-options="cat.name as cat.name for cat in category_list" ng-change="searchAdvisor()">
	                        <option value="" class="" selected="selected">Select Insurance Category...</option>
	                    </select>
	                </div>
	                <p class="pt-2 pb-2 pl-3 text-white lead">Book a meeting based on your convenience.</p>
	            </div>
	        </div>
	        <div class="col"></div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="container" id="xyz">
        <div class="row pl-4 pr-4">
	        <div class="col-md-10 col-xs-6 pl-4">
	            <h3 class="pt-4 pb-4">Insurance Advisor in Bangalore</h3>
	        </div>
	        <div class="col-md-2 col-xs-6 pr-4">
	        	<p class="pt-4 pb-4 text-right"><a href="">View all -></a></p>
	        </div>
		    <div class="col-md-3 col-xs-6" ng-repeat="x in advisors">
		        <div class="my-3 p-3 bg-white rounded shadow-sm">
		            <a href="#" class="d-block mb-4 h-100">
		            <img class="img-fluid img-thumbnail rounded" src="http://www.neoscape.com.au/assets/Uploads/people-Madison-Bass.jpg" alt="">
		            </a>
		            <p class="small text-center grey-text">HEALTH, LIFE INSURANCE</p>
		            <p class="text-center">{{ x.account.first_name }} {{ x.account.last_name }}</p>
		            <p class="text-center small">{{ x.account.pincode.state }}, {{ x.account.pincode.city }}, {{ x.account.pincode.pincode }}</p>
		            <div class="text-center">
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
		            </div>
		        </div>
		    </div>
        </div>
    </div>
</div>

